
<h2>Weather Data for @Model.Date</h2>
<table>
    <tr>
        <th>Date</th>
        <th>Temperature (°C)</th>
        <th>Summary</th>
    </tr>
    <tr>
        <td>@Model.Date</td>
        <td>@Model.TemperatureC</td>
        <td>@Model.Summary</td>
    </tr>
</table>
